.footer {
  padding: 16px 32px;
  background: #f5f6f7;
  color: #444;
  text-align: center;

  &__copyright {
  }
  &__license {
    color: #777;

    a {
      color: #444;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
