# -*- mode: yaml -*-
---
linters:
  'gatsby-config.js':
    - prettier --write
    - git add
  'src/**/*.{d.ts,ts,tsx}':
    - prettier --write
    - tslint --fix
    - git add
  'src/**/*.{scss}':
    - prettier --write
    - stylelint --fix
    - git add
globOptions:
  dot: false
