@mixin hidden-on-smartphone() {
  @media screen and (max-width: 619px) {
    display: none;
  }
}

.career-history {
  max-width: 1024px;
  margin: 0 auto;
  padding: 32px 16px 64px;

  &__item {
    $vert-line-width: 4px;
    $pin-size: 24px;
    $bubble-size: 12px;
    display: flex;
    align-items: center;

    &__vert-line {
      @include hidden-on-smartphone;
      align-self: stretch;
      width: $vert-line-width;
      margin: 0 ($pin-size - $vert-line-width) / 2;
      background: #ddd;
    }
    &:first-of-type &__vert-line {
      transform: scaleY(0.5);
      transform-origin: 0 100%;
    }
    &:last-of-type &__vert-line {
      transform: scaleY(0.5);
      transform-origin: 0 0;
    }
    &__pin {
      @include hidden-on-smartphone;
      width: $pin-size;
      height: $pin-size;
      border: 4px solid #fff;
      border-radius: 100%;
      margin-left: -$pin-size;
      background: #dca;
      transform: translate(0, 0);
    }
    &__body-bubble {
      @include hidden-on-smartphone;
      border: $bubble-size solid transparent;
      border-left: none;
      border-right-color: #fff;
      margin-left: 16px;
    }
    &__body {
      margin: 8px 0;
      padding: 12px 20px;
      flex: 1;
      background: #fff;

      @media screen and (max-width: 619px) {
        border-left: 4px solid #ddccaa;
      }
    }
    &__date {
      opacity: .6;
    }
    &__title {
      font-size: 1.2rem;
    }
    &__content {
    }
  }
}
