.orig-experience-item {
  $line-width: 4px;
  $dot-size: 24px;
  $dot-border-width: 3px;
  $bubble-size: 24px;

  align-items: center;

  // Presentational elements

  &__vertical-line {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    margin: 0 (($dot-size - $line-width) / 2);
    background: #ddd;
  }

  &:first-of-type #{&}__vertical-line {
    background: linear-gradient(to top, #ddd, transparent);
  }

  &:last-of-type #{&}__vertical-line {
    background: linear-gradient(to bottom, #ddd, transparent);
  }

  &__dot {
    width: $dot-size;
    height: $dot-size;
    border: $dot-border-width solid #fff;
    margin: -($dot-size - $line-width) / 2;
    background: #dca;
    border-radius: $dot-size;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }

  &__body-bubble {
    width: $bubble-size / 2;
    height: $bubble-size;
    border: 12px solid transparent;
    border-left: 0;
    border-right-color: #fff;
  }

  // Item body

  &__body {
    background: #fff;
  }

  &__name {
    font-size: 1.2rem;
  }
}
