.section {
  &--grey {
    background: #f1f2f3;
  }
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96px;
    margin-bottom: 16px;
    background: #111;
    color: #fff;

    &__title {
      font-size: 1.6rem;
    }
    &__title-ruby {
      font-family: "open-sans", sans-serif;
      letter-spacing: .16rem;
      text-transform: uppercase;
      opacity: .6;
    }
  }
  &__body {
  }
}

