.section {
  &__header {
    height: 64px;
    background: #000;
    color: #fff;
  }

  &__title {
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
  }

  &__content {
    width: calc(100vw - 64px);
    max-width: 1024px;
    margin: 0 auto;
  }
}
