.skill {
  flex: calc(50% - 16px) 0 0;
  padding: 16px 32px 4px 32px;
  margin: 0 0 32px 0;

  @media screen and (max-width: 768px) {
    flex: 100% 0 0;
  }

  &__name {
    flex-grow: 1;
    margin: 0 0 4px 0;
    font-size: 24px;
    font-weight: 700;
  }
  &__progress {
    margin: 0 0 16px 0;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
  }
  &__progress--beginner {
    color: #388e3c;
  }
  &__progress--intermediate {
    color: #f57c00;
  }
  &__progress--advanced {
    color: #d32f2f;
  }

  &__abilities-title,
  &__experiences-title {
    margin: 0 0 4px 0;
    color: #616161;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
  }
  &__ability-item::before,
  &__experience-item::before {
    display: inline-block;
    width: 32px;
    margin: 0 0 0 -32px;
    color: #616161;
    content: '・';
    text-align: right;
  }

  &__abilities {
    margin: 0 0 16px 0;
  }
  &__experiences {
    margin: 0 0 16px 0;
  }
}
