.orig-section {
  &--bg-white {
    background: #fff;
  }

  &--bg-light-gray {
    background: #f1f2f3;
  }

  // Header

  &__header {
    background: #111;
    color: #fff;
    text-align: center;
  }

  &__title {
    font-size: 1.6rem;
  }

  &__secondary-title {
    font-size: 0.96rem;
    letter-spacing: 0.12rem;
  }
}
