@mixin text-ellipsis {
  overflow: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.skill {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px 64px 16px;

  &__category {
    width: 100%;
    margin: 32px 0;
    text-align: center;

    &__label {
      color: #269;
      font-size: 1.6rem;
      line-height: 1;
    }
    &__label-ruby {
      font-size: .8rem;
      font-family: "open-sans", sans-serif;
      letter-spacing: .12rem;
      text-transform: uppercase;
      opacity: .6;
    }
  }
  &__item {
    width: 30%;
    margin: 0 1.66% 24px 1.66%;

    @media screen and (max-width: 619px) {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
    &__info {
      display: flex;
      padding-bottom: 4px;
    }
    &__name {
      @include text-ellipsis;
      flex: 1;
    }
    &__progress {
      text-align: right;
      opacity: .6;
    }
    &__progress-bar {
      &__bg {
        height: 6px;
        background: #eee;
      }
      &__fg {
        height: 100%;
        background: #dca;
        &[data-aos='progress'] {
          transform: scaleX(0);
          transform-origin: 0 0;
          &.aos-animate {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
